@media (min-width: 1441px)
{
    .header1
    {
        height: 17vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        top: 0;
        background-color: white;
        box-shadow: 0px 5px 5px 0 rgb(48 68 78 / 10%);
        z-index: 100;
    
        nav 
        {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
    
            figure 
            {
                justify-self: start;
                align-self: center;
                margin-left: 3vw;
                display: flex;
                flex-direction: row;
    
                img 
                {
                    width: 5vw;
                    height: 15vh;
                }
                
                p
                {
                    font-size: 1.03em;
                    align-self: center;
                    padding-left: 2.9vw;
                    font-style: italic;
                    font-weight: bold;
                    font-family: 'Roboto Mono', monospace;
                    line-height: 1.8em;
                    color: #313193;
                    
                    strong
                    {
                        color: #d2232a;
                    }
                }
            }
    
            ul:first-of-type 
            {
                align-self: center;
                justify-self: center;
                padding-left: 4em;
                padding-right: 4em;
                margin-left: -2vw;
                border-left: 2px solid #313193;
                border-right: 2px solid #313193;
                height: 80%;
                
                
                a
                {
                    text-decoration: none;
                    color: #313193;
                }
                
                a:hover
                {
                    color: white;
                    background-color: #313193;
                    padding: 2em 1em 2em 1em;
                    
                    
                }
    
                li 
                {
                    display: inline-block;
                    padding-left: 3vw;
                    padding-right: 3vw;
                    margin-top: 5.5vh;
                    font-size: 1em;
                    font-family: 'Roboto Mono', monospace;
                    font-weight: bold;
                    
                    
                    span
                    {
                        padding-right: 1vw;
                    }
                }
            }
    
            ul:last-of-type 
            {
                align-self: center;
                height: 80%;
                border-left: 2px solid #d2232a;
                border-right: 2px solid #d2232a;
                display: flex;
                flex-direction: row;
                justify-self: center;
                margin-left: -3vw;
                
                .a1
                {
                    text-decoration: none;
                    font-size: 1.5em;
                    color: 	#4267B2;
                }
                
                .a2
                {
                    text-decoration: none;
                    font-size: 1.5em;
                    color: #1DA1F2;
                }
                
                .a3
                {
                    text-decoration: none;
                    font-size: 1.5em;
                    color: #F56040;
                }
                
                .a1:hover
                {
                    background-color: #4267B2;
                    color: white;
                    padding: 0.5em;
                    border-radius: 2em;
                }
                
                .a2:hover
                {
                    background: #1DA1F2;
                    color: white;
                    padding: 0.5em;
                    border-radius: 2em;
                }
                
                .a3:hover
                {
                    background: linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
                    color: white;
                    padding: 0.5em;
                    border-radius: 2em;
                }
    
                li
                {
                    align-self: center;
                    padding: 3em;
                }
            }
        }
    }
}

@media (min-width: 1025px) and (max-width: 1440px)
{
    .header1
    {
        height: 17vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        top: 0;
        background-color: white;
        box-shadow: 0px 5px 5px 0 rgb(48 68 78 / 10%);
        z-index: 100;
    
        nav 
        {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
    
            figure 
            {
                justify-self: start;
                align-self: center;
                margin-left: 3vw;
                display: flex;
                flex-direction: row;
    
                img 
                {
                    width: 5vw;
                    height: 15vh;
                }
                
                p
                {
                    font-size: 1.03em;
                    align-self: center;
                    padding-left: 2.9vw;
                    font-style: italic;
                    font-weight: bold;
                    font-family: 'Roboto Mono', monospace;
                    line-height: 1.8em;
                    color: #313193;
                    
                    strong
                    {
                        color: #d2232a;
                    }
                }
            }
    
            ul:first-of-type 
            {
                align-self: center;
                justify-self: center;
                padding-left: 4em;
                padding-right: 4em;
                margin-left: -2vw;
                border-left: 2px solid #313193;
                border-right: 2px solid #313193;
                height: 80%;
                
                
                a
                {
                    text-decoration: none;
                    color: #313193;
                }
                
                a:hover
                {
                    color: white;
                    background-color: #313193;
                    padding: 2em 1em 2em 1em;
                    
                    
                }
    
                li 
                {
                    display: inline-block;
                    padding-left: 3vw;
                    padding-right: 3vw;
                    margin-top: 5.5vh;
                    font-size: 1em;
                    font-family: 'Roboto Mono', monospace;
                    font-weight: bold;
                    
                    
                    span
                    {
                        padding-right: 1vw;
                    }
                }
            }
    
            ul:last-of-type 
            {
                align-self: center;
                height: 80%;
                border-left: 2px solid #d2232a;
                border-right: 2px solid #d2232a;
                display: flex;
                flex-direction: row;
                justify-self: center;
                margin-left: -3vw;
                
                .a1
                {
                    text-decoration: none;
                    font-size: 1.5em;
                    color: 	#4267B2;
                }
                
                .a2
                {
                    text-decoration: none;
                    font-size: 1.5em;
                    color: #1DA1F2;
                }
                
                .a3
                {
                    text-decoration: none;
                    font-size: 1.5em;
                    color: #F56040;
                }
                
                .a1:hover
                {
                    background-color: #4267B2;
                    color: white;
                    padding: 0.5em;
                    border-radius: 2em;
                }
                
                .a2:hover
                {
                    background: #1DA1F2;
                    color: white;
                    padding: 0.5em;
                    border-radius: 2em;
                }
                
                .a3:hover
                {
                    background: linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
                    color: white;
                    padding: 0.5em;
                    border-radius: 2em;
                }
    
                li
                {
                    align-self: center;
                    padding: 3em;
                }
            }
        }
    }
}

@media(min-width: 769px) and (max-width: 1024px)
{
    .header1
    {
        height: 17vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        top: 0;
        background-color: white;
        box-shadow: 0px 5px 5px 0 rgb(48 68 78 / 10%);
        z-index: 100;
    
        nav 
        {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
    
            figure 
            {
                justify-self: start;
                align-self: center;
                margin-left: 3vw;
                display: flex;
                flex-direction: row;
    
                img 
                {
                    width: 5vw;
                    height: 15vh;
                }
                
                p
                {
                    font-size: 1.03em;
                    align-self: center;
                    padding-left: 2.9vw;
                    font-style: italic;
                    font-weight: bold;
                    font-family: 'Roboto Mono', monospace;
                    line-height: 1.8em;
                    color: #313193;
                    
                    strong
                    {
                        color: #d2232a;
                    }
                }
            }
    
            ul:first-of-type 
            {
                align-self: center;
                justify-self: center;
                padding-left: 4em;
                padding-right: 4em;
                margin-left: -2vw;
                border-left: 2px solid #313193;
                border-right: 2px solid #313193;
                height: 80%;
                
                
                a
                {
                    text-decoration: none;
                    color: #313193;
                }
                
                a:hover
                {
                    color: white;
                    background-color: #313193;
                    padding: 2em 1em 2em 1em;
                    
                    
                }
    
                li 
                {
                    display: inline-block;
                    padding-left: 3vw;
                    padding-right: 3vw;
                    margin-top: 5.5vh;
                    font-size: 1em;
                    font-family: 'Roboto Mono', monospace;
                    font-weight: bold;
                    
                    
                    span
                    {
                        padding-right: 1vw;
                    }
                }
            }
    
            ul:last-of-type 
            {
                align-self: center;
                height: 80%;
                border-left: 2px solid #d2232a;
                border-right: 2px solid #d2232a;
                display: flex;
                flex-direction: row;
                justify-self: center;
                margin-left: -3vw;
                
                .a1
                {
                    text-decoration: none;
                    font-size: 1.5em;
                    color: 	#4267B2;
                }
                
                .a2
                {
                    text-decoration: none;
                    font-size: 1.5em;
                    color: #1DA1F2;
                }
                
                .a3
                {
                    text-decoration: none;
                    font-size: 1.5em;
                    color: #F56040;
                }
                
                .a1:hover
                {
                    background-color: #4267B2;
                    color: white;
                    padding: 0.5em;
                    border-radius: 2em;
                }
                
                .a2:hover
                {
                    background: #1DA1F2;
                    color: white;
                    padding: 0.5em;
                    border-radius: 2em;
                }
                
                .a3:hover
                {
                    background: linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
                    color: white;
                    padding: 0.5em;
                    border-radius: 2em;
                }
    
                li
                {
                    align-self: center;
                    padding: 3em;
                }
            }
        }
    }
}

@media(min-width: 427px) and (max-width: 768px)
{
    .header1
    {
        height: 60vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        top: 0;
        background-color: white;
        box-shadow: 0px 5px 5px 0 rgb(48 68 78 / 10%);
        z-index: 100;
    
        nav 
        {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 2fr 0.5fr;
    
            figure 
            {
                justify-self: start;
                align-self: center;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                img 
                {
                    height: 15vh;
                    margin-bottom: 1vh;
                }
                
                p
                {
                    font-size: 1.5em;
                    align-self: center;
                    font-style: italic;
                    font-weight: bold;
                    font-family: 'Roboto Mono', monospace;
                    line-height: 1.8em;
                    color: #313193;
                    
                    strong
                    {
                        color: #d2232a;
                    }
                }
            }
    
            ul:first-of-type 
            {
                align-self: center;
                justify-self: center;
                display: flex;
                flex-direction: column;
                
                a
                {
                    text-decoration: none;
                    color: #313193;
                }
                
                a:hover
                {
                    color: white;
                    background-color: #313193;
                    padding: 0.8em;
                    
                    
                }
    
                li 
                {
                    display: inline-block;
                    margin: 1em;
                    font-size: 1.5em;
                    font-family: 'Roboto Mono', monospace;
                    font-weight: bold;
                    
                    
                    span
                    {
                        padding-right: 5vw;
                    }
                }
            }
    
            ul:last-of-type 
            {
                align-self: center;
                height: 80%;
                display: flex;
                flex-direction: row;
                justify-self: center;
                
                
                .a1
                {
                    text-decoration: none;
                    font-size: 1.5em;
                    color: 	#4267B2;
                }
                
                .a2
                {
                    text-decoration: none;
                    font-size: 1.5em;
                    color: #1DA1F2;
                }
                
                .a3
                {
                    text-decoration: none;
                    font-size: 1.5em;
                    color: #F56040;
                }
                
                .a1:hover
                {
                    background-color: #4267B2;
                    color: white;
                    padding: 0.5em;
                    border-radius: 2em;
                }
                
                .a2:hover
                {
                    background: #1DA1F2;
                    color: white;
                    padding: 0.5em;
                    border-radius: 2em;
                }
                
                .a3:hover
                {
                    background: linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
                    color: white;
                    padding: 0.5em;
                    border-radius: 2em;
                }
    
                li
                {
                    align-self: center;
                    padding: 3em;
                }
            }
        }
    }
}

@media (max-width: 426px)
{
    .header1
    {
        height: 60vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        top: 0;
        background-color: white;
        box-shadow: 0px 5px 5px 0 rgb(48 68 78 / 10%);
        z-index: 100;
    
        nav 
        {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 2fr 0.5fr;
    
            figure 
            {
                justify-self: start;
                align-self: center;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                img 
                {
                    height: 10vh;
                    margin-bottom: 1vh;
                }
                
                p
                {
                    font-size: 1em;
                    align-self: center;
                    font-style: italic;
                    font-weight: bold;
                    font-family: 'Roboto Mono', monospace;
                    line-height: 1.8em;
                    color: #313193;
                    
                    strong
                    {
                        color: #d2232a;
                    }
                }
            }
    
            ul:first-of-type 
            {
                align-self: center;
                justify-self: center;
                display: flex;
                flex-direction: column;
                
                a
                {
                    text-decoration: none;
                    color: #313193;
                }
                
                a:hover
                {
                    color: white;
                    background-color: #313193;
                    padding: 0.8em;
                    
                    
                }
    
                li 
                {
                    display: inline-block;
                    margin: 1em;
                    font-size: 1.5em;
                    font-family: 'Roboto Mono', monospace;
                    font-weight: bold;
                    
                    
                    span
                    {
                        padding-right: 5vw;
                    }
                }
            }
    
            ul:last-of-type 
            {
                align-self: center;
                height: 80%;
                display: flex;
                flex-direction: row;
                justify-self: center;
                
                
                .a1
                {
                    text-decoration: none;
                    font-size: 1.5em;
                    color: 	#4267B2;
                }
                
                .a2
                {
                    text-decoration: none;
                    font-size: 1.5em;
                    color: #1DA1F2;
                }
                
                .a3
                {
                    text-decoration: none;
                    font-size: 1.5em;
                    color: #F56040;
                }
                
                .a1:hover
                {
                    background-color: #4267B2;
                    color: white;
                    padding: 0.5em;
                    border-radius: 2em;
                }
                
                .a2:hover
                {
                    background: #1DA1F2;
                    color: white;
                    padding: 0.5em;
                    border-radius: 2em;
                }
                
                .a3:hover
                {
                    background: linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
                    color: white;
                    padding: 0.5em;
                    border-radius: 2em;
                }
    
                li
                {
                    align-self: center;
                    padding: 3em;
                }
            }
        }
    }
}

    
    