@import "reset";
@import "vars";



.hidden {
    display:none;
}


#homepage {
    height: 100vh;
    width: 100vw;

    .header1 {
        height: 17vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        top: 0;
        background-color: white;
        box-shadow: 0px 5px 5px 0 rgb(48 68 78 / 10%);
        z-index: 100;

        nav {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;

            figure {
                justify-self: center;
                align-self: center;
                margin-left: 0;
                margin-top: 1vh;

                img {
                    width: 5vw;
                    height: 15vh;
                }
            }

            ul:first-of-type {
                align-self: center;
                justify-self: center;
                border-left: 2px solid #313193;
                border-right: 2px solid #313193;
                height: 80%;

                a {
                    text-decoration: none;
                    color: #313193;
                }

                a:hover {
                    color: white;
                    background-color: #313193;
                    padding: 2em 1em 2em 1em;

                }

                li {
                    display: inline-block;
                    padding-left: 3vw;
                    padding-right: 3vw;
                    margin-top: 5.5vh;
                    font-size: 1.5em;
                    font-family: 'Roboto Mono', monospace;
                    font-weight: bold;
                }
            }

            ul:last-of-type {
                align-self: center;
                height: 80%;
                border-left: 2px solid #d2232a;
                border-right: 2px solid #d2232a;
                display: flex;
                flex-direction: row;
                justify-self: center;

                .a1 {
                    text-decoration: none;
                    font-size: 1.3em;
                    color: #4267B2;
                }

                .a2 {
                    text-decoration: none;
                    font-size: 1.3em;
                    color: #1DA1F2;
                }

                .a3 {
                    text-decoration: none;
                    font-size: 1.3em;
                    background: -webkit-linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                li {
                    align-self: center;
                    padding: 2em;
                }
            }
        }
    }

    &>main {
        height: 100vh;
        width: 100vw;
        margin: auto;
        display: grid;
        grid-template-row: 1fr 0.2fr;

        &>section:first-of-type {
            background-image: url("https://www.tv5monde.com/programmes/uploads/2017/09/season_heros-du-gazon-les-rtbf2016_826_489.jpeg");
            background-size: cover;

            h1 {
                font-size: 3rem;
                text-align: center;
                font-weight: 900;
                grid-row: 1/2;
            }
        }


        aside {
            grid-column:2/3;
            
            #nextmatch {
                box-shadow: 2px 2px 10px #000;
                background-color: #fff;
                grid-row: 2/3;
                margin: 0;
                padding: 0;

                header {
                    h2 {
                        text-align: center;
                        font-size: 2rem;
                    }
                }

                &>section:first-of-type {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);

                    section:first-of-type {
                        text-align: center;
                        align-self: center;
                        justify-self: center;
                    }
                    section:nth-of-type(2) {
                        text-align: center;
                        align-self: center;
                        justify-self: center;
                    }

                    section:last-of-type {
                        text-align: center;
                        align-self: center;
                        justify-self: center;
                    }
                }

                &>footer {
                    ul {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        li {
                            text-align: center;
                            border: 1px solid rgba(0, 0, 0, 0.3);
                            padding: 20px 50px;
                        }
                    }
                }
            }
        }
    }

        .darkfoot {
        background: #414142;
        color: #f0f9ff;
        background-color: #282d32;
        text-align: center;

        h3 {
            margin-top: 0;
            margin-bottom: 12px;
            font-weight: bold;
            font-size: 16px;
        }

        ul {
            padding: 10px;
            list-style: none;
            font-size: 14px;

            a {
                color: #fff;
                text-decoration: none;
            }
            a:hover {
                opacity: 0.8;
            }
        }

        #contain {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 0.5fr 0.5fr;

            #marque {
                grid-row: 2/3;
                grid-column: 1/3;
            }

            #reseaux {
                grid-row: 3/4;
                grid-column: 1/3;
            }
            span {
                color: #fff;
            }
        }
    }

}