@import "reset";
@import "vars";



.hidden {
    display:none;
}


#homepage {
    
    .header1{
        height: 17vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        top: 0;
        background-color: white;
        box-shadow: 0px 5px 5px 0 rgb(48 68 78 / 10%);
        z-index: 100;

        nav {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;

            figure {
                justify-self: center;
                align-self: center;
                margin-left: 0;
                margin-top: 1vh;

                img {
                    width: 5vw;
                    height: 15vh;
                }
            }

            ul:first-of-type  {
                align-self: center;
                justify-self: center;
                border-left: 2px solid #313193;
                border-right: 2px solid #313193;
                height: 80%;
            
                a
                {
                    text-decoration: none;
                    color: #313193;
                }
            
                a:hover
                {
                    color: white;
                    background-color: #313193;
                    padding: 2em 1em 2em 1em;
                
                }

                li 
                {
                    display: inline-block;
                    padding-left: 5vw;
                    padding-right: 5vw;
                    margin-top: 5.5vh;
                    font-size: 1.5em;
                    font-family: 'Roboto Mono', monospace;
                    font-weight: bold;
                }
            }

            ul:last-of-type {
                align-self: center;
                padding-left: 2vw;
            
                .a1{
                    text-decoration: none;
                    font-size: 1.3em;
                    color: 	#4267B2;
                }
            
                .a2{
                    text-decoration: none;
                    font-size: 1.3em;
                    color: #1DA1F2;
                }
            
                .a3 {
                    text-decoration: none;
                    font-size: 1.3em;
                background:  -webkit-linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                }

                li {
                    display: inline-block;
                    padding-left: 3vw;
                }
            }
        }
    }

    &>section:first-of-type {
        background: url("https://www.programme-tv.net/imgre/fit/~2~program~a066d23fa3c93d38b.jpg/630x355/quality/80/les-heros-du-gazon.jpg");
        background-position:center;
        background-size:cover;
    }
    
    #classement {
        
         table {
            background-color:rgba(49,49,147, 0.3);
            &>thead {
                height:5vh;
                th {
                    font-size:2rem;
                }
            }
            
            &>tbody {
                &>tr {
                    &>td {
                        padding:2vh;
                    }
                }
            }
        }
    }
    
    #rfc {
        background-color:$red;
    }
    
}