/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (min-width: 1367px) {
  .header1 {
    height: 17vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    top: 0;
    background-color: white;
    box-shadow: 0px 5px 5px 0 rgba(48, 68, 78, 0.1);
    z-index: 100;
  }
  .header1 nav {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
  .header1 nav figure {
    justify-self: start;
    align-self: center;
    margin-left: 3vw;
    display: flex;
    flex-direction: row;
  }
  .header1 nav figure img {
    width: 5vw;
    height: 15vh;
  }
  .header1 nav figure p {
    font-size: 1.03em;
    align-self: center;
    padding-left: 2.9vw;
    font-style: italic;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
    line-height: 1.8em;
    color: #313193;
  }
  .header1 nav figure p strong {
    color: #d2232a;
  }
  .header1 nav ul:first-of-type {
    align-self: center;
    justify-self: center;
    padding-left: 4em;
    padding-right: 4em;
    margin-left: -2vw;
    border-left: 2px solid #313193;
    border-right: 2px solid #313193;
    height: 80%;
  }
  .header1 nav ul:first-of-type a {
    text-decoration: none;
    color: #313193;
  }
  .header1 nav ul:first-of-type a:hover {
    color: white;
    background-color: #313193;
    padding: 2em 1em 2em 1em;
  }
  .header1 nav ul:first-of-type li {
    display: inline-block;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-top: 5.5vh;
    font-size: 1.5em;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
  }
  .header1 nav ul:first-of-type li span {
    padding-right: 1vw;
  }
  .header1 nav ul:last-of-type {
    align-self: center;
    height: 80%;
    border-left: 2px solid #d2232a;
    border-right: 2px solid #d2232a;
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-left: -3vw;
  }
  .header1 nav ul:last-of-type .a1 {
    text-decoration: none;
    font-size: 1.5em;
    color: #4267B2;
  }
  .header1 nav ul:last-of-type .a2 {
    text-decoration: none;
    font-size: 1.5em;
    color: #1DA1F2;
  }
  .header1 nav ul:last-of-type .a3 {
    text-decoration: none;
    font-size: 1.5em;
    color: #F56040;
  }
  .header1 nav ul:last-of-type .a1:hover {
    background-color: #4267B2;
    color: white;
    padding: 0.5em;
    border-radius: 2em;
  }
  .header1 nav ul:last-of-type .a2:hover {
    background: #1DA1F2;
    color: white;
    padding: 0.5em;
    border-radius: 2em;
  }
  .header1 nav ul:last-of-type .a3:hover {
    background: linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    color: white;
    padding: 0.5em;
    border-radius: 2em;
  }
  .header1 nav ul:last-of-type li {
    align-self: center;
    padding: 3em;
  }
}
@media (min-width: 901px) and (max-width: 1366px) {
  .header1 {
    height: 17vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    top: 0;
    background-color: white;
    box-shadow: 0px 5px 5px 0 rgba(48, 68, 78, 0.1);
    z-index: 100;
  }
  .header1 nav {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
  .header1 nav figure {
    justify-self: start;
    align-self: center;
    margin-left: 3vw;
    display: flex;
    flex-direction: row;
  }
  .header1 nav figure img {
    width: 5vw;
    height: 15vh;
  }
  .header1 nav figure p {
    font-size: 0.8em;
    align-self: center;
    padding-left: 2.5vw;
    font-style: italic;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
    line-height: 1.8em;
    color: #313193;
  }
  .header1 nav figure p strong {
    color: #d2232a;
  }
  .header1 nav ul:first-of-type {
    align-self: center;
    justify-self: center;
    padding-left: 3em;
    padding-right: 3em;
    border-left: 2px solid #313193;
    border-right: 2px solid #313193;
    height: 80%;
  }
  .header1 nav ul:first-of-type a {
    text-decoration: none;
    color: #313193;
  }
  .header1 nav ul:first-of-type a:hover {
    color: white;
    background-color: #313193;
    padding: 2em 1em 2em 1em;
  }
  .header1 nav ul:first-of-type li {
    display: inline-block;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    margin-top: 5.5vh;
    font-size: 1.2em;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
  }
  .header1 nav ul:first-of-type li span {
    padding-right: 1vw;
  }
  .header1 nav ul:last-of-type {
    align-self: center;
    height: 80%;
    border-left: 2px solid #d2232a;
    border-right: 2px solid #d2232a;
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-left: -3vw;
  }
  .header1 nav ul:last-of-type .a1 {
    text-decoration: none;
    font-size: 1.2em;
    color: #4267B2;
  }
  .header1 nav ul:last-of-type .a2 {
    text-decoration: none;
    font-size: 1.2em;
    color: #1DA1F2;
  }
  .header1 nav ul:last-of-type .a3 {
    text-decoration: none;
    font-size: 1.2em;
    color: #F56040;
  }
  .header1 nav ul:last-of-type .a1:hover {
    background-color: #4267B2;
    color: white;
    padding: 0.5em;
    border-radius: 2em;
  }
  .header1 nav ul:last-of-type .a2:hover {
    background: #1DA1F2;
    color: white;
    padding: 0.5em;
    border-radius: 2em;
  }
  .header1 nav ul:last-of-type .a3:hover {
    background: linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    color: white;
    padding: 0.5em;
    border-radius: 2em;
  }
  .header1 nav ul:last-of-type li {
    align-self: center;
    padding: 2.5em;
  }
}
html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
body .hidden {
  display: none;
}
body > main > header {
  background-image: linear-gradient(rgba(49, 49, 147, 0.7), rgba(210, 35, 42, 0.7)), url("https://www.sofoot.com/IMG/img_580_380_center_articles-219451.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  height: 40vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
body > main > header section {
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
}
body > main > header section h1 {
  color: white;
  text-align: center;
  font-size: 4em;
  font-weight: 800;
  font-family: "Roboto Mono", monospace;
}
body > main > section:first-of-type {
  height: 110vh;
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  background-repeat: no-repeat;
  background-size: cover;
}
body > main > section:first-of-type table {
  grid-column: 2/3;
  justify-self: center;
  width: 100%;
  border-radius: 1em;
  align-self: center;
}
body > main > section:first-of-type table thead {
  height: 6vh;
  background-color: #d2232a;
  width: 100%;
}
body > main > section:first-of-type table thead tr {
  text-align: center;
}
body > main > section:first-of-type table thead tr th {
  font-size: 2em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  color: white;
  padding: 0.9em;
}
body > main > section:first-of-type table tbody #rfc {
  height: 5vh;
  background-color: #1D1DAA;
  text-align: center;
}
body > main > section:first-of-type table tbody #rfc td {
  font-size: 1.1em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  padding-top: 0.9em;
  color: white;
}
body > main > section:first-of-type table tbody .main-tr {
  height: 5vh;
  background-color: #CFCFCF;
  text-align: center;
}
body > main > section:first-of-type table tbody .main-tr td {
  font-size: 1.1em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  padding-top: 0.9em;
  color: #1D1DAA;
}
body > main > section:first-of-type table tbody tr:not(.main-tr) {
  height: 5vh;
  background-color: #CFCFCF;
  text-align: center;
}
body > main > section:first-of-type table tbody tr:not(.main-tr) td {
  font-size: 1.1em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  padding-top: 0.9em;
  color: #393941;
}
body > main > section:nth-of-type(2) > header {
  background-image: linear-gradient(rgba(49, 49, 147, 0.7), rgba(210, 35, 42, 0.7)), url("https://static.wixstatic.com/media/2ea955_0d8ccdb6801c42198fa241653cf1510f~mv2.jpg/v1/fill/w_640,h_360,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/2ea955_0d8ccdb6801c42198fa241653cf1510f~mv2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 90%;
  height: 40vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
body > main > section:nth-of-type(2) > header section {
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
}
body > main > section:nth-of-type(2) > header section h1 {
  color: white;
  text-align: center;
  font-size: 4em;
  font-weight: 800;
  font-family: "Roboto Mono", monospace;
}
body > main > section:nth-of-type(2) article {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
}
body > main > section:nth-of-type(2) article ul {
  grid-column: 2/3;
}
body > main > section:nth-of-type(2) article ul header {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  margin-top: 2em;
  margin-bottom: 0.8em;
  background-color: #d2232a;
  height: 6vh;
}
body > main > section:nth-of-type(2) article ul header ul {
  justify-self: start;
  align-self: center;
}
body > main > section:nth-of-type(2) article ul header ul li {
  display: inline-block;
  color: white;
  font-size: 1.2em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
}
body > main > section:nth-of-type(2) article ul header ul span {
  padding-right: 2vw;
  padding-left: 2vw;
}
body > main > section:nth-of-type(2) article ul li article {
  background-color: #CFCFCF;
  display: grid;
  grid-template-columns: 0.5fr 0.2fr 1fr 0.2fr 0.5fr;
  height: 20vh;
}
body > main > section:nth-of-type(2) article ul li article figure {
  align-self: center;
  justify-self: center;
}
body > main > section:nth-of-type(2) article ul li article figure img {
  width: 5vw;
  height: 12vh;
}
body > main > section:nth-of-type(2) article ul li article figure p {
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  color: black;
  margin-top: 1.5vh;
}
body > main > section:nth-of-type(2) article ul li article > p:first-of-type {
  font-size: 3em;
  font-weight: 400;
  text-align: center;
  color: #13671B;
  justify-self: center;
  align-self: center;
  background-color: white;
  border-radius: 4px;
  padding: 0.2em;
}
body > main > section:nth-of-type(2) article ul li article > p:last-of-type {
  font-size: 3em;
  font-weight: 400;
  text-align: center;
  color: #B20A0A;
  justify-self: center;
  align-self: center;
  background-color: white;
  border-radius: 4px;
  padding: 0.2em;
}
body > main > section:nth-of-type(2) article ul li article section {
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
}
body > main > section:nth-of-type(2) article ul li article section h4 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  color: black;
}
body > main > section:nth-of-type(2) article ul li article section h5 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  color: black;
}
body > main > section:nth-of-type(2) article ul li article section h6 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  color: black;
}

/*# sourceMappingURL=style.css.map */
