@import "vars";

.darkfoot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: $blue;
    width: 100vw;

    &>section:first-of-type {
        grid-column: 1/2;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    &>section:nth-of-type(2) {
        grid-column: 2/3;
        display: grid;
        grid-template-rows: 0.8fr 0.8fr 0.2fr;
        color: #fff;
        padding: 20px;
        text-align: center;
        .a1 {
            text-decoration: none;
            font-size: 2em;
            color: #fff;
        }

        .a2 {
            text-decoration: none;
            font-size: 2em;
            color: #1DA1F2;
        }

        .a3 {
            text-decoration: none;
            font-size: 2em;
            color: #F56040;
        }

        .a1:hover {
            background-color: #4267B2;
            color: white;
            padding: 0.5em;
            border-radius: 2em;
        }

        .a2:hover {
            background: #1DA1F2;
            color: white;
            padding: 0.5em;
            border-radius: 2em;
        }

        .a3:hover {
            background: linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
            color: white;
            padding: 0.5em;
            border-radius: 2em;
        }
        ul {
            li {
                display: inline-block;
            }
        }

        h2 {
            font-size: 2rem;
            text-transform: uppercase;
        }
    }

    &>section:last-of-type {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 3/4;
    }
}