@import "reset";
@import "nav";

html
{
    font-size: 14px;
    scroll-behavior: smooth;
}

body
{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    
    .hidden
    {
        display: none;
    }
    
    & > main
    {
        & > header
        {
            background-image: linear-gradient(rgba(49, 49, 147, 0.7), rgba(210, 35, 42, 0.7)), url("https://www.sofoot.com/IMG/img_580_380_center_articles-219451.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 20%;
            height: 40vh;
            width: 100vw;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            
            section
            {
                grid-column: 2 / 3;
                justify-self: center;
                align-self: center;
                
                h1
                {
                    color: white;
                    text-align: center;
                    font-size: 4em;
                    font-weight: 800;
                    font-family: 'Roboto Mono', monospace;
                }
            }
        }
        
        & > section:first-of-type
        {
            height: 110vh;
            display: grid;
            grid-template-columns: 0.3fr 1fr 0.3fr;
            background-repeat: no-repeat;
            background-size: cover;
            
            table 
            {
                grid-column: 2 / 3;
                justify-self: center;
                width: 100%;
                border-radius: 1em;
                align-self: center;

                thead 
                {
                    height: 6vh;
                    background-color: #d2232a;
                    width: 100%;
                    

                    tr 
                    {
                        text-align: center;
                        
                        th 
                        {
                            font-size: 2em;
                            font-family: 'Roboto Condensed', sans-serif;
                            font-weight: 600;
                            color: white;
                            padding: 0.9em;
                        }
                    }
                }

                tbody 
                {
                    #rfc
                    {
                        height: 5vh;
                        background-color: #1D1DAA;
                        text-align: center;
                        
                        td
                        {
                            font-size: 1.1em;
                            font-family: 'Roboto Condensed', sans-serif;
                            font-weight: 600;
                            padding-top: 0.9em;
                            color: white;
                        }
                    }
                    
                    .main-tr
                    {
                    
                        height: 5vh;
                        background-color: #CFCFCF;
                        text-align: center;
                        
                        td
                        {
                            font-size: 1.1em;
                            font-family: 'Roboto Condensed', sans-serif;
                            font-weight: 600;
                            padding-top: 0.9em;
                            color: #1D1DAA;
                        }
                        
                    }
                    
                    tr:not(.main-tr)
                    {
                        height: 5vh;
                        background-color: #CFCFCF;
                        text-align: center;
                        
                        td 
                        {
                            font-size: 1.1em;
                            font-family: 'Roboto Condensed', sans-serif;
                            font-weight: 600;
                            padding-top: 0.9em;
                            color: #393941;
                        }
                    }
                }
            }
        }
        
        & > section:nth-of-type(2)
        {
            header
            {
                background-image: linear-gradient(rgba(49, 49, 147, 0.7), rgba(210, 35, 42, 0.7)), url("https://www.sofoot.com/IMG/img_580_380_center_articles-219451.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 20%;
                height: 40vh;
                width: 100vw;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                
                section
                {
                    grid-column: 2 / 3;
                    justify-self: center;
                    align-self: center;
                    
                    h1
                    {
                        color: white;
                        text-align: center;
                        font-size: 4em;
                        font-weight: 800;
                        font-family: 'Roboto Mono', monospace;
                    }
                }
            }
            
            article
            {
                header
                {
                    ul
                    {
                        li
                        {
                            
                        }
                    }
                }
                
                ul
                {
                    li
                    {
                        article
                        {
                            figure
                            {
                                img
                                {
                                    
                                }
                                
                                p
                                {
                                    
                                }
                            }
                            
                            p
                            {
                                
                            }
                            
                            section
                            {
                                h4
                                {
                                    
                                }
                                
                                h5
                                {
                                    
                                }
                                
                                h6
                                {
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}